<div class="basic-form">

   <form action="/auth/login" method="POST" class="select-form">
      <input type="text" name="username" placeholder="Username" class="basic-input">
      <br>
      <input type="password" name="password" placeholder="Password" class="basic-input">
      <br>
      <button type="submit" class="basic-button">Log in</button>
   </form>

</div>