<div class="container login-container">
   <div class="card">
      <div class="card-content">
         <form action="/auth/signup" method="POST">
            <label>Full name<input type="text" name="name" placeholder="Name" required></label>
            <label>Email <input type="email" name="email" required placeholder="@" required></label>
            <label> Username
               <input type="text" name="username" required>
            </label>
            <label> Password
               <input type="password" name="password" required>
            </label>

            <button type="submit">Sign Up</button>
         </form>

      </div>
   </div>
</div>