<form action="/auth/signup" method="POST">
   <label>Full name<input type="text" name="name" placeholder="Name" required></label>
   <label>Email <input type="email" name="email" required placeholder="@" required></label>
   <label> Username
      <input type="text" name="username">
   </label>
   <label> Password
      <input type="password" name="password">
   </label>

   <button type="submit">Submit</button>
</form>