<h1>Lick lick lick my balls, it's the community home!</h1>
<h3>Don't pick a goddamn community, you slippery camel, these links are not yet live</h3>

<div>
    <a href="/community/music">Music</a>
</div>
<div>
    <a href="/community/fineart">Fine Art</a>
</div>
<div>
    <a href="/community/digitalart">Digital Art</a>
</div>
<div>
    <a href="/community/writing">Writing & Poetry</a>
</div>
<div>
    <a href="/community/photography">Photography</a>
</div>