<div id="community-title">
    <h1>Our Communities</h1>
    <h3>Have a gander at one of our creative spaces</h3>
</div>

<div id="community-blocks-div">
    <div class="community-block">
        <a href="/community/music-community">Music</a>
    </div>
    <div class="community-block">
        <a href="/community/fine-art-community">Fine Art</a>
    </div>
    <div class="community-block">
        <a href="/community/digital-art-community">Digital Art</a>
    </div>
    <div class="community-block">
        <a href="/community/writing-poetry-community">Writing & Poetry</a>
    </div>
    <div class="community-block">
        <a href="/community/photography-community">Photography</a>
    </div>
</div>