<div class="community-title">
    <h1>Our Communities</h1>
    <h3>Select one of the community spaces below</h3>
</div>

<div id="community-blocks-div">
    <div class="community-block">
        <a href="/community/music-community"><img src="/images/music-block.png" alt="Music" class="block-image"></a>
    </div>
    <div class="community-block">
        <a href="/community/fine-art-community"><img src="/images/art-block.png" alt="Fine Art" class="block-image"></a>
    </div>
    <div class="community-block">
        <a href="/community/digital-art-community"><img src="/images/digital-block.png" alt="Digital Art"
                class="block-image"></a>
    </div>
    <div class="community-block">
        <a href="/community/writing-poetry-community"><img src="/images/writing-block.png" alt="Writing & Poetry"
                class="block-image"></a>
    </div>
    <div class="community-block">
        <a href="/community/photography-community"><img src="/images/photography-block.png" alt="Photography"
                class="block-image"></a>
    </div>
</div>