<h1>Start a new Discussion</h1>

<form action="/community/new-discussion" method="POST">

    <input type="text" name="topic" id="topic" placeholder="Topic">
    <br>
    <input type="text" name="first-post" id="first-post" placeholder="About">
    <br>
    <button type="submit">Hit me!</button>
</form>