<h1>Start a new Discussion in the {{singleCommunity.name}} Community</h1>

<div class="basic-form">
    <form action="/community/{{singleCommunity.slug}}/new-discussion" method="POST" class="select-form"
        enctype="multipart/form-data">
        <input type="text" name="title" id="title" placeholder="Topic" class="basic-input">
        <br>
        <textarea name="firstPost" id="firstPost" placeholder="About" class="basic-input"></textarea>
        <br>
        <input type="file" name="image" id="file" class="file-input">
        <button type="submit" class="basic-button">Create Topic</button>
    </form>
</div>

{{#if errorMessage}}

<h3 id="error-message">{{errorMessage}}</h3>

{{/if}}