<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>{{title}}</title>
   <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

   <nav>
      <ul id="navbar-links">
         <li><a href="/"><img src="images/CRE8-logo.png" alt="HOME" id="logo"></a></li>
         <li><a href="/community">Explore our communities</a></li>
      </ul>
   </nav>

   {{{body}}}

   <footer>
      <p>This project is sponsored by Ironluncher - always hungry, like a lump of iron.</p>
      <p>By John and Tom, the almost rhyming comedy coding duo.</p>
   </footer>

   <script src="/js/script.js"></script>
</body>

</html>