<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">

   <title>{{title}}</title>
   <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

   <nav id="navbar">
      <ul id="navbar-links">
         <a href="/"><img src="/images/CRE8-logo.png" alt="HOME" id="logo"></a>
         {{!-- <li><a href="/">Home</a></li> --}}
         <li><a href="/community" id="community-button">Communities</a></li>
         {{#if user}}
         <li><a href="/profile" class="right-button">Go to profile</a></li>
         <li><a href="/auth/logout" class="right-button">Logout</a></li>
         {{else}}
         <li><a href="/auth/signup" class="right-button">Sign Up</a></li>
         <li><a href="/auth/login" class="right-button">Login</a></li>
         {{/if}}
      </ul>
   </nav>

   {{{body}}}

   <script src="/js/script.js"></script>



</body>

</html>