{{#with user}}

<div id="profile-info">
    <h2 id="user-name">Welcome to your profile, <span>{{name}}</span></h2>
    <div id="edit-profile-links">
        <a href="/profile/edit">Edit your profile</a><a href="/profile/delete">Delete Profile</a>
    </div>
    <img src="{{userImage}}" id="user-image">
    <br>
    {{#if bio}}
    <p id="user-bio">{{bio}}</p>
    {{/if}}
    {{/with}}
</div>